@import "fonts.less";
@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/retina.js/src/retina.less";
@import "common.less";

///////// Base url ////////////
@base-url: "[[LESS_BASE_URL]]";

@basic-color: #4abde8;
@auction-color: #5bd69b;
@lottery-color: #fda455;

@small-gutter: 6px;
@border-radius: 4px;

.dy-pill() {
    background-color: #fff;
    border-radius: @border-radius;
    box-shadow: 1px 1px 3px 0px rgba(200, 200, 200, 1);
}

.dy-pill {
    .dy-pill();
}

img.grayscale{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

/* Explanation of the following line: http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.container {
  max-width: 1000px;
}
body {
    background-color: #ddd;
    padding-bottom: 20px;
}


/****************** SMALL GUTTER GRID *****************/

.container-fluid-small {
  //.container-fixed(); //can't pass gutter as argument so copy/paste code from mixins.less
  margin-right: auto;
  margin-left: auto;
  padding-left:  (@small-gutter / 2);
  padding-right: (@small-gutter / 2);
  &:extend(.clearfix all);
}

.row-small {
  .make-row(@small-gutter);
}

.col-small-1 { .make-xs-column(1, @small-gutter); }
.col-small-2 { .make-xs-column(2, @small-gutter); }
.col-small-3 { .make-xs-column(3, @small-gutter); }
.col-small-4 { .make-xs-column(4, @small-gutter); }
.col-small-5 { .make-xs-column(5, @small-gutter); }
.col-small-6 { .make-xs-column(6, @small-gutter); }
.col-small-7 { .make-xs-column(7, @small-gutter); }
.col-small-8 { .make-xs-column(8, @small-gutter); }
.col-small-9 { .make-xs-column(9, @small-gutter); }
.col-small-10 { .make-xs-column(10, @small-gutter); }
.col-small-11 { .make-xs-column(11, @small-gutter); }
.col-small-12 { .make-xs-column(12, @small-gutter); }

/******************* MAIN MENU ***********************/

.main-menu {
    .btn-group-vertical {
        .dy-pill();
        display: block;
    }
    margin-top: 15px;
}

.btn-white {
    .button-variant(@brand-primary, white, white);
    text-align: left;
    padding: 12px 12px;
    &:hover {
        background-color: @brand-primary;
        color: #fff;
        border-color: @brand-primary;
    }
    &:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
.btn-white-active {
    background-color: @brand-primary;
    color: #fff;
    border-color: @brand-primary;
}


/******************  EDIT PROFILE *********************/

#pic_preview {
    position: relative;
    #new_pic_preview {
        position: absolute;
        left: 0px;
        opacity: 0;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.avatar-edit {
    //height: 60px;
    div.buttons {
        height: 100%;
        padding-top: 13px;
    }
}

/******************* NEW BET WIDGET ***********************/

.new-bet-widget {
    .dy-pill();
    //This is for animating auto height
    //http://stackoverflow.com/questions/18452532/angularjs-custom-directive-using-event-listener
    height: auto;
    max-height: 46px;
    //height: 36px;
    overflow: hidden;
    padding: @small-gutter 0px;
    .container-fluid-small {
        padding: 0px @small-gutter;
    }
}
.new-bet-widget-header {
    .border-top-radius(@border-radius);
    margin-top: -@small-gutter;
    margin-bottom: @small-gutter*2;
    padding: @small-gutter;
    height: 32px;
    span.header-title {
        .text-overflow();
        width: 100%;
        display: inline-block;
        height: 18px;
    }
}
.basic-bg {
    background-color: @basic-color;
}
.auction-bg {
    background-color: @auction-color;
}
.lottery-bg {
    background-color: @lottery-color;
}
#title {
    height: 34px;
}
#description {
    height: 34px;
}
.new-bet-widget-input {
    margin-bottom: @small-gutter;
}
.input-grout-wide {
    width: 60%;
}
.action-row {
    margin-top: @small-gutter;
}
.new-bet-label {
    padding-left: 4px;
    font-weight: @bold;
}
.new-bet-widget-timepicker {
    input, span {
        padding-left: @small-gutter;
        padding-right: @small-gutter;
    }
}
.new-bet-calendar {
    padding-left: @small-gutter;
    padding-right: @small-gutter;
    text-align: center;
}

.btn-basic {
  .button-variant(white, @basic-color, @basic-color); //(button, hover)
}
.btn-auction {
  .button-variant(white, @auction-color, @auction-color); //(button, hover)
}
.btn-lottery {
  .button-variant(white, @lottery-color, @lottery-color); //(button, hover)
}

.label-invites {
    border-radius: @border-radius;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    position: relative;
    padding: 0px 20px 2px 5px;
    margin-right: 4px;
    margin-bottom: 4px;
    .text-invite {
        //line-height: 1.5;
    }
    .remove-invite {
        cursor: pointer;
        position: absolute;
        font-size: 21px;
        font-weight: bold;
        color: #ccc;
        top: -4px;
        right: 2px;
        &:hover {
            color: #333;
        }
    }
}

/***************** BET LIST ITEM *********************/

.empty-bets-list {
    padding: 15px;
}

.bet-row-label {
    margin: 0px;
    padding: 5px 15px;
    background-color: @brand-primary;
    color: #fff;
    font-size: 16px;
}

.bet-row {
    position: relative;
    border-top: 1px solid #ddd;
    padding: 16px 50px 6px 0px;
    background-color: white;
    text-align: left;
    .left {
        width: 140px;
        float: left;
    }
    .right {
        margin-left: 140px;
        margin-bottom: 40px;
    }
    .bet-closing {
        position: absolute;
        bottom: 6px;
        left: 140px;
        color: #666;
        font-size: 15px;
        font-weight: @regular;
        dy-bidding-deadline {
            margin-right: 20px;
        }
    }
}
.bet-title {
    font-size: 20px;
    font-weight: @light;
    a {
        color: #414141;
    }
}
.bet-type {
    position: absolute;
    right: 20px;
    top: -3px;
    width: 24px;
    height: 72px;
    .border-top-radius(@border-radius);
    .bet-type-text {
        color: white;
        -moz-transform: rotate(-90deg);  /* FF3.5+ */
        -o-transform: rotate(-90deg);  /* Opera 10.5 */
        -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
        -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        margin-top: 30px;
        margin-right: 2px;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
    }
}
.bet-title-basic {
    color: @basic-color;
    font-size: 20px;
    font-weight: @regular;
}
.bet-title-auction {
    color: @auction-color;
    font-size: 20px;
    font-weight: @regular;
}
.bet-title-lottery {
    color: @lottery-color;
    font-size: 20px;
    font-weight: @regular;
}


/********************* PROFILE PIC ************************/

.border-shadow-img {
    margin-top: 2px;
    margin-left: 2px;
    position: relative;
    img {
        z-index: 2;
        position: absolute;
    }
    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #ddd;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        top: -2px;
        left:-2px;
        //-webkit-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
        //-moz-box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
        //box-shadow: 1px 1px 5px 0px rgba(200, 200, 200, 1);
    }
    .level {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 4;
    }
    .fair_play {
        .at2x("@{base-url}/beta/build/img/app/badges/fair_play.png", 32px, 32px);
        background-size: 32px 32px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 32px;
        height: 32px;
        z-index: 4;
        border-radius: 16px;
    }
}

/**************** PROFILE NAME **********************/

.profile-name {
    color: #000;
    font-size: 16px;
    font-weight: @light;
    text-align: center;
    &:hover {
        color: #000;
    }
}

dy-user-name {
    .text-overflow();
    display: block;
    text-align: center;
    max-width: 60%;
    margin: 0px auto;
    .inverted {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    .big { font-size: 20px; font-weight: @regular; }
    &.horizontal { padding-top: 5%; padding-left: 4px; }
}
dy-user-pic {
    display: inline-block;
    text-align: left;
    //margin: 10px auto 0px;
}
.user-pic-name {
    display: block;
    text-align: center;
    .horizontal { float: left; }
}

/******************** USER SUMMARY *******************/

dy-user-summary {
    .dy-pill();
    display: block;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    .container-fluid-small {
        padding: @small-gutter;
        .summary-pic-name {
            margin-top: 8px;
        }
        .summary-exp-bar {
            width: 70%;
            min-width: 60px;
            margin: auto;
            text-align: center;
        }
        .summary-badges {
            display: inline-block;
            margin-bottom: 10px;
            img { margin-right: 4px; }
        }
    }
    .profile-cell {
        margin-top: @small-gutter;
        padding: 5px;
        cursor: pointer;
        color: #000;
        text-align: center;
        background-color: #eee;
        a { color:#000; &:hover { color: #000; } }
        .profile-number {
            color: @brand-primary;
            font-size: 20px;
            font-weight: @bold;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.yoos-info {
    position: relative;
    background-color: #ddd;
    color: @brand-primary;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
    font-size: 22px;
    font-weight: @bold;
    text-align: center;
}

.dy-badge {
    margin-top: @small-gutter;
    &:first-child {
        img { border-bottom-left-radius: @border-radius; }
    }
    &:nth-child(6) {
        img { border-bottom-right-radius: @border-radius; }
    }
    img { width: 100%; }
}

/***************** EXP LEVEL BAR ***************/

.exp-level-bar {
    position: relative;
    height: 40px;
    padding-top: 19px - @border-radius;
    .exp-bar-bg {
        position: relative;
        border-radius: @border-radius;
        border: 1px @brand-primary solid;
        background-color: #fff;
        height: @border-radius*2;
        margin-right: 45px;
        .exp-bar-wrapper {
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            .exp-bar {
                border-radius: @border-radius - 1;
                background-color: @brand-primary;
                height: 100%;
            }
        }
    }
    .exp-bar-star {
        position: absolute;
        right: 0;
        top: 0px;
        background-color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 4px;
    }
}

dy-level-star {
    display: block;
    .at2x("@{base-url}/beta/build/img/app/levelstar.png", 32px, 31px);
    width: 32px;
    height: 31px;
    text-align: center;
    padding-top: 6px;
    color: #fff;
}

/****************** PROFILE *********************/

.user-profile {
    .dy-pill();
    margin-top: 15px;
    text-align: center;
    padding: 0px;
    padding-bottom: 15px;
    .user-profile-top {
        position: relative;
        .edit-profile-btn {
            position: absolute;
            right: 20px;
        }
        .border-top-radius(@border-radius);
        background-color: @brand-primary;
        padding: 20px;
        dy-user-name {
            margin-bottom: 8px;
        }
        .profile-badges {
            margin-top: 10px;
            .profile-badge {
                display: inline-block;
                margin-right: 5px;
            }
        }
        .profile-description {
            color: #fff;
            font-weight: @regular;
            font-size: 14px;
            margin-top: 16px;
        }
    }
    .user-profile-bottom {
        font-size: 12px;
        font-weight: @regular;
        .profile-cell {
            padding: 10px;
            cursor: pointer;
            color: #000;
            .profile-number {
                color: @brand-primary;
                font-size: 20px;
                font-weight: @bold;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/****************** USER LIST ********************/

.user-list-row {
    margin: 0px;
    padding: 12px;
    border-top: 1px #ddd solid;
    background-color: #f9f9f9;
    &:nth-child(2n+0) { background-color: #fff; }
    &:last-child { border-bottom: 1px #ddd solid; }
}

.empty-list-msg {
    margin: 20px;
}

/***************** WHO TO FOLLOW ****************/

.who-to-follow {
    .dy-pill();
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    h1, h4 {
        padding: 20px;
    }
    .finish-btn {
        margin-top: 15px;
        margin-right: 15px;
    }
}

/****************** TIMELINE ********************/

.timeline-by-state {
    .dy-pill();
    margin-top: 15px;
    padding: 15px 0px;
}

.timeline {
    .dy-pill();
    margin-top: 15px;
    padding-bottom: 15px;
    .timeline-header {
        .border-top-radius(@border-radius);
        padding: 8px;
        background-color: @brand-primary;
    }
}

/********************BET DETAIL ********************/

.bet-cell(@bg-color) {
    padding: 20px;
    text-align: center;
    background-color: @bg-color;
}

.label-success-basic { .label-variant(@basic-color); }
.label-success-auction { .label-variant(@auction-color); }
.label-success-lottery { .label-variant(@lottery-color); }

.bet-detail {
    .dy-pill();
    margin-top: 22px;
    padding: 0px @small-gutter/2 @small-gutter @small-gutter/2;
    .bet-header {
        .border-top-radius(@border-radius);
        margin: -@small-gutter -@small-gutter/2 0 -@small-gutter/2;
        padding: 15px 15px 4px 15px;
        color: #fff;
        font-weight: @regular;
        font-size: 16px;
    }
    .bet-row {
        border: none;
        .bet-points {
            float: right;
            font-size: 16px;
        }
        .bet-winner {
            background-color: @brand-primary;
        }
    }
    .against-separator {
        padding: 0px 20px;
        .separator-line {
            width: -moz-calc(~"50% - 70px");
            width: -o-calc(~"50% - 70px");
            width: -webkit-calc(~"50% - 70px");
            width: calc(~"50% - 70px");
            float: left;
            border-top: 1px #ddd solid;
            margin-top: 10px;
        }
        .separator-text {
            float: left;
            width: 140px;
            margin: 0px auto;
            text-align: center;
            font-weight: @light;
            color: #888;
        }
    }
    .accepted-bid-row {
        position: relative;
        padding: 16px 16px 6px 0px;
        background-color: white;
        text-align: right;
        .right {
            width: 140px;
            float: right;
        }
        .left {
            margin-right: 140px;
            margin-bottom: 40px;
        }
    }
    .bet-description {
        padding: 15px 30px;
        margin-bottom: @small-gutter;
    }
    .bidding-cell { .bet-cell(#B1E36D); }
    .event-cell { .bet-cell(#eee); }
    .closed-cell { .bet-cell(#F1E34D); }
    .bid-input { padding-top: @small-gutter; }
    .bet-btn {
        .border-top-radius(0);
        .border-bottom-radius(@border-radius);
        margin-top: @small-gutter;
        font-size: 16px;
        font-weight: @light;
        padding: 20px;
    }
    .resolving-bet {
        .row-small { margin-top: @small-gutter; }
        .resolving-btn {
            button { border-radius: 0px; }
            &:first-child { button { border-bottom-left-radius: @border-radius; }}
            &:last-child { button { border-bottom-right-radius: @border-radius; }}
        }
    }
    .complaining-bet {
        .row-small { margin-top: @small-gutter; }
        .complaining-btn {
            button { border-radius: 0px; }
            &:first-child { button { border-bottom-left-radius: @border-radius; }}
            &:last-child { button { border-bottom-right-radius: @border-radius; }}
        }
    }
    .arbitrating-bet {
        .row-small { margin-top: @small-gutter; }
        .arbitrating-btn {
            button { border-radius: 0px; padding: 20px;}
            &:first-child { button { border-bottom-left-radius: @border-radius; }}
            &:last-child { button { border-bottom-right-radius: @border-radius; }}
        }
    }
}

.bid-list {
    .dy-pill();
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 15px;
    h3 { text-align: center; }
    .bid-list-row {
        position: relative;
        margin: 0px;
        padding: 12px;
        border-top: 1px #ddd solid;
        background-color: #f9f9f9;
        &:nth-child(2n+0) { background-color: #fff; }
        &:last-child { border-bottom: 1px #ddd solid; }
        .bid-author { width: 100px; float: left; }
        .bid-title { width: 60%; font-weight: @light; font-size: 16px; margin: auto;}
        .bid-participants { padding-top: 8px; font-weight: @light; font-size: 16px; margin-right: 8px;}
        button { padding: 6px; }
    }
}

#bid-participants-modal {
    .modal-header {
        border-bottom: 0px;
    }
    .modal-body {
        padding: 0px;
    }
    .modal-footer {
        margin-top: 0px;
        border-top: 0px; 
    }
}

/******************** TOURNAMENTS *******************/

.tournaments-list {
    .dy-pill();
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    .tournaments-list-header {
        margin: -15px -15px 0px -15px;
        .border-top-radius(@border-radius);
        background-color: @brand-primary;
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: @regular;
        padding: 8px;
    }
    .tournament-row {
        padding: @small-gutter;
        background-color: #fff;
        &:nth-child(2n+0) { background-color: #eee; }
        .tournament-img {
            float: left;
            width: 120px;
            height: 100%;
            margin-right: 15px;
            img {
                width: 100%;
            }
        }
        .tournament-info {
            a { color: #000; &:hover { color: #000; } }
            float: left;
            width: -moz-calc(~"100% - 135px");
            width: -o-calc(~"100% - 135px");
            width: -webkit-calc(~"100% - 135px");
            width: calc(~"100% - 135px");
            p {
                font-weight: @light;
                font-size: 18px;
            }
        }
        .tournament-small-info {
            color: #666;
            margin-right: 20px;
        }
    }
}

.tournament-detail {
    .dy-pill();
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    .tournament-top {
        .border-top-radius(@border-radius);
        //margin: -15px -15px 0px -15px;
        position: relative;
        background-color: @brand-primary;
        color: #fff;
        padding: 20px;
        text-align: center;
        .tournament-dates {
            position: absolute;
            width: 100px;
            right: 15px;
            top: 15px;
        }
        .tournament-title {
            width: -moz-calc(~"100% - 200px");
            width: -o-calc(~"100% - 200px");
            width: -webkit-calc(~"100% - 200px");
            width: calc(~"100% - 200px");
            margin: 0px auto;
            font-weight: @light;
            font-size: 24px;
        }
        .tournament-img img {
            width: 120px;
            height: 120px;
            margin: 12px 0px;
        }
        .tournament-desc {
            width: -moz-calc(~"100% - 200px");
            width: -o-calc(~"100% - 200px");
            width: -webkit-calc(~"100% - 200px");
            width: calc(~"100% - 200px");
            margin: 0px auto;
            font-weight: @light;
            font-size: 16px;
        }
    }
    .leaderboard-row {
        background-color: #fff;
        &:nth-child(2n+0) { background-color: #eee; }
        padding: 10px 15px;
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: 1px #eee solid;
        .leaderboard-pos {
            float: left;
            width: 100px;
            font-weight: @bold;
            font-size: 32px;
            padding-top: 6px;
        }
        .leaderboard-user {
            float: left;
            width: -moz-calc(~"100% - 300px");
            width: -o-calc(~"100% - 300px");
            width: -webkit-calc(~"100% - 300px");
            width: calc(~"100% - 300px");
        }
        .leaderboard-points {
            float: right;
            width: 200px;
            padding-top: 6px;
            font-weight: @bold;
            font-size: 32px;
            text-align: right;
            .puntos {
                font-size: 16px;
                font-weight: @regular;
            }
        }
    }
}

/******************** LOADER ************************/

.container-loading {
    .dy-pill();
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 0px 40px;
    text-align: center;
}

dy-loader {
    display: block;
    margin: auto;
    width: 50px;
}

//http://cssload.net/
#circleG {
    width:46.666666666666664px;
}
.circleG {
    background-color:#FFFFFF;
    float:left;
    height:10px;
    margin-left:5px;
    width:10px;
    -moz-animation-name:bounce_circleG;
    -moz-animation-duration:0.6000000000000001s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:7px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:0.6000000000000001s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:7px;
    -ms-animation-name:bounce_circleG;
    -ms-animation-duration:0.6000000000000001s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:7px;
    -o-animation-name:bounce_circleG;
    -o-animation-duration:0.6000000000000001s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:7px;
    animation-name:bounce_circleG;
    animation-duration:0.6000000000000001s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:7px;
}
#circleG_1 {
    -moz-animation-delay:0.12000000000000002s;
    -webkit-animation-delay:0.12000000000000002s;
    -ms-animation-delay:0.12000000000000002s;
    -o-animation-delay:0.12000000000000002s;
    animation-delay:0.12000000000000002s;
}
#circleG_2 {
    -moz-animation-delay:0.28s;
    -webkit-animation-delay:0.28s;
    -ms-animation-delay:0.28s;
    -o-animation-delay:0.28s;
    animation-delay:0.28s;
}
#circleG_3 {
    -moz-animation-delay:0.36s;
    -webkit-animation-delay:0.36s;
    -ms-animation-delay:0.36s;
    -o-animation-delay:0.36s;
    animation-delay:0.36s;
}
@-moz-keyframes bounce_circleG {
    0% {}
    50% { background-color:#000000 }
    100% {}
}
@-webkit-keyframes bounce_circleG {
    0% {}
    50% { background-color:#000000 }
    100% {}
}
@-ms-keyframes bounce_circleG {
    0% {}
    50% { background-color:#000000 }
    100% {}
}
@-o-keyframes bounce_circleG {
    0% {}
    50% { background-color:#000000 }
    100% {}
}
@keyframes bounce_circleG {
    0% {}
    50% { background-color:#000000 }
    100% {}
}