{% if username %}<p>Estimado {{ username }},</p>
{% else %}
<p>Hola,</p>
{% endif %}
<p>Gracias por elegir Dareyoo como tu plataforma de apuestas libre y social. Has dado el primer paso para cambiar las reglas del juego.</p>
<p>Empieza a crear apuestas sobre lo que a ti te gusta. En Dareyoo no eres un apostador más, eres lo que tu quieras ser.  Encuentra a rivales que supongan un reto, demuestrales a todos que tu si sabes apostar y sobretodo, ¡diviértete!</p>
<br>
<a href="http://www.dareyoo.com">www.dareyoo.com</a>