<div class="bet-row">
    <div class="bet-type basic-bg" ng-if="bet.bet_type==1"><div class="bet-type-text">Básica</div></div>
    <div class="bet-type auction-bg" ng-if="bet.bet_type==2"><div class="bet-type-text">Subasta</div></div>
    <div class="bet-type lottery-bg" ng-if="bet.bet_type==3"><div class="bet-type-text">Porra</div></div>
    <div class="left">
        <dy-user-pic-name user="bet.author" size="'xl'"></dy-user-pic-name>
    </div>
    <div class="right">
        <p class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></p>
        <p ng-if="bet.bet_type==1" class="bet-title-basic">Por [[bet.amount]]Y contra [[bet.amount*bet.odds - bet.amount]]Y</p>
        <p ng-if="bet.bet_type==2" class="bet-title-auction">Por [[bet.amount]]Y</p>
        <p ng-if="bet.bet_type==3" class="bet-title-lottery">[[bet.amount]]Y por barba</p>
    </div>
    <div class="bet-closing">
        <dy-bidding-deadline ng-if="bet.bet_state=='bidding'" limit="bet.bidding_deadline"></dy-bidding-deadline>
        <dy-event-deadline ng-if="bet.bet_state=='bidding' || bet.bet_state=='event'" limit="bet.event_deadline"></dy-event-deadline>
    </div>
    <div class="clearfix"></div>
</div>