<div class="col-md-12">
    <div class="pull-left text-center" style="height:100%; width:100px; padding-top:10px">
        <div style="margin-bottom:8px"><dy-user-pic user="bet.author"></dy-user-pic></div>
        <dy-user-name user="bet.author"></dy-user-name>
    </div>
    <div class="bet-text pull-left">
        <p>
            <span ng-if="bet.bet_type==1"><strong>Basic</strong></span>
            <span ng-if="bet.bet_type==2"><strong>Auction</strong></span>
            <span ng-if="bet.bet_type==3"><strong>Lottery</strong></span>
            <!-- <time relative datetime="[[bet.created_at]]"></time> -->
        </p>
        <p><span class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></span></p>
        <p ng-if="bet.bet_type==1">For [[bet.amount]] coins against [[bet.amount*bet.odds - bet.amount]]</p>
        <p ng-if="bet.bet_type!=1">For [[bet.amount]] coins</p>
        <span class="bet-closing">
            <dy-bidding-deadline limit="bet.bidding_deadline"></dy-bidding-deadline>
            <dy-event-deadline limit="bet.event_deadline" style="margin-left:20px;"></dy-event-deadline>
        </span>
    </div>
    <div class="clearfix"></div>
</div>