{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">
  {% endblock %}
  <title>{% block title %}Page Title{% endblock %}</title>
  {% block css %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- Custom CSS here -->
  <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css"> -->

  {% endblock %}
{% endblock %}
</head>
<body>
{% block top_body %}
{% endblock %}
  {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block js %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-00000000-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <!-- Checks if jQuery is loaded. If not, we load it from our server -->
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}lib/jquery/jquery-1.10.2.min.js"><'+'/script>')</script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <!-- Checks if Twitter Bootstrap is loaded. If not, we load it from our server -->
  <script>(typeof $().modal == 'function') || (document.write('<script src="{{ STATIC_URL }}lib/bootstrap/3.0.0/js/bootstrap.min.js"><'+'/script>') && document.write('<link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" >'))</script>
  {% endblock %}
</body>
</html>