{% extends "beta-base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
<style type="text/css">
    html, body { height: 100%; }
</style>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="vertical-center text-center">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if invalid %}{% url "password_reset_recover" as recovery_url %}
                <h3>Lo sentimos pero este link de recuperación de password es inválido. Haz click <a href="{{ recovery_url }}">aquí</a> para obtener uno nuevo.</h3>
            {% else %}
                <h3>Hola, <strong>{{ username }}</strong>. Por favor, introduce tu nuevo password</h3>
                <form method="post" action="{% url "password_reset_reset" token %}">
                    {% csrf_token %}
                    <label for="id_password1">Nevo password:</label>
                    <input id="id_password1" name="id_password1" type="password" class="form-control"/>
                    <label for="id_password2">Nevo password (confirmar):</label>
                    <input id="id_password2" name="id_password2" type="password" class="form-control"/>
                    {% if form.errors %}
                    <div class="alert alert-danger">Los passwords introducidos no coinciden.</div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Restablecer</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}