<div class="row">
  <div class="col-sm-4" ng-show="user">
    <div class="row">
      <div class="col-sm-12">
        <dy-user-summary user="user"></dy-user-summary>
      </div>
    </div>
    <div class="row sidebar-nav">
      <div class="col-sm-12">
        <dy-new-bet-widget></dy-new-bet-widget>
      </div>
    </div>
    <div class="row sidebar-nav main-menu">
      <div class="col-sm-12">
        <div class="btn-group-vertical">
          <a href="" ui-sref="main.timeline-global" type="button" class="btn btn-white" ng-class="{ 'btn-white-active': $state.includes('main.timeline-global') }">
            <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;&nbsp;Todas las apuestas
          </a>
          <a href="" ui-sref="main.timeline" type="button" class="btn btn-white" ng-class="{ 'btn-white-active': $state.includes('main.timeline') }">
            <span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;&nbsp;Mis amigos
          </a>
          <a href="" ui-sref="main.timeline-conflicts" type="button" class="btn btn-white" ng-class="{ 'btn-white-active': $state.includes('main.timeline-conflicts') }">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;&nbsp;Conflictos
          </a>
          <a href="" ui-sref="main.open-bets" type="button" class="btn btn-white" ng-class="{ 'btn-white-active': $state.includes('main.open-bets') }">
            <span class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;&nbsp;Mis apuestas abiertas <span class="badge">[[user.open_bets]]</span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="row sidebar-nav">
      <div class="col-sm-12">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{ active: $state.includes('main.timeline-global') }"><a ui-sref="main.timeline-global">
            <span class="glyphicon glyphicon-globe"></span> Todas las apuestas
          </a></li>
          <li ng-class="{ active: $state.includes('main.timeline') }"><a ui-sref="main.timeline">
            <span class="glyphicon glyphicon-star"></span> Mi timeline
          </a></li>
          <li ng-class="{ active: $state.includes('main.timeline-conflicts') }"><a ui-sref="main.timeline-conflicts">
            <span class="glyphicon glyphicon-fire"></span> Conflictos
          </a></li>
          <li ng-class="{ active: $state.includes('main.open-bets') }"><a ui-sref="main.open-bets">
            <span class="glyphicon glyphicon-user"></span> Mis apuestas abiertas <span class="badge">[[user.open_bets]]</span>
          </a></li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="col-sm-8" ng-class="{'col-sm-offset-2': !user}">
    <div ui-view></div>
  </div>
</div>