<div ng-hide="loaded" class="container-fluid container-loading"><h4>Cargando...</h4><br><dy-loader></dy-loader></div>
<div ng-show="loaded" class="row">
    <div class="col-sm-8 col-sm-offset-2 tournament-detail">
        <div class="row">
            <div class="col-sm-12 tournament-top">
                <div class="tournament-dates" ng-if="getStartDate()">Del [[getStartDate()]]<br>al [[getEndDate()]]</div>
                <div class="tournament-title" ng-if="!tournament.title">Clasificación Global</div>
                <div class="tournament-title" ng-if="tournament.title">[[tournament.title]]</div>
                <div class="tournament-img" ng-if="!tournament.pic"><img class="img-rounded" ng-src="[[$root.config.static_url + 'tournaments/global.jpg']]"></div>
                <div class="tournament-img" ng-if="tournament.pic"><img class="img-rounded" ng-src="[[tournament.pic]]"></div>
                <div class="tournament-desc" ng-if="!tournament.description">
                    
                </div>
                <div class="tournament-desc" ng-if="tournament.description">
                    [[tournament.description]]
                    <br><br>
                    <span ng-if="t.only_author">
                        <span ng-if="tournament.tag">Entra participando en apuestas de [[tournament.username]] que lleven el hashtag [[tournament.tag]]</span>
                        <span ng-if="!tournament.tag">Entra participando en apuestas de [[tournament.username]]</span>
                    </span>
                    <span ng-if="!tournament.only_author && tournament.tag"><span>Entra creando apuestas con el hashtag [[tournament.tag]]</span></span>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-justified tournament-nav">
            <li ng-class="{ 'active': $state.includes('tournament-detail.bets') }">
                <a href="#" ui-sref="tournament-detail.bets({tournamentId:tournament.id || '0'})">Apuestas</a>
            </li>
            <li ng-class="{ 'active': $state.includes('tournament-detail.ranking') }">
                <a href="#" ui-sref="tournament-detail.ranking({tournamentId:tournament.id || '0'})">Ránking</a>
            </li>
        </ul>
        <ui-view></ui-view>
    </div>
</div>