<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="who-to-follow">
            <h1>¡Mejor acompañado!</h1>
            <h4>Te ayudamos a encontrar usuarios a los que seguir para que disfrutes de tu experiencia en Dareyoo desde el primer momento:</h4>
            <ul class="nav nav-pills">
                <li ng-class="{'active': provider == 'dareyoo'}">
                    <a ng-click="search_friends('dareyoo')">Sugerencias Dareyoo</a>
                </li>
                <li ng-class="{'active': provider == 'facebook'}">
                    <a ng-click="search_friends('facebook')">Amigos de Facebook</a>
                </li>
                <!-- <li><a href="#">Amigos de Twitter</a></li> -->
            </ul>
            <!-- <div ng-repeat="friend in friends_list">
                <td><dy-user-pic user="friend" size="micro"></dy-user-pic></td>
                <td><dy-user-name user="friend"></dy-user-name></td>
            </tr> -->
            <p class="empty-list-msg" ng-if="friends_list.length == 0">No hemos podido encontrar usuarios</p>
            <dy-user-list users="friends_list" logged-in-id="user.id"></dy-user-list>
            <div class="finish-btn">
                <a type="button" ng-show="new_user" class="btn btn-default pull-right" ui-sref="main.timeline-global()">
                Continuar <small><span class="glyphicon glyphicon-chevron-right"></span></small>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>