{% extends "beta-base.html" %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
<style type="text/css">
    html, body { height: 100%; }
</style>
{% endblock %}
{% block content %}
{{ block.super }}
<div class="vertical-center text-center">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-3 right-divider">
            <p>Iniciar sesión:</p><br>
            {% if form.errors %}
            <div class="alert alert-danger">Email o password incorrectos</div>
            {% endif %}

            <form method="post" role="form" name="LoginForm" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div id="name-group" class="form-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="email">
                <span class="help-block"></span>

                <input type="password" id="password" name="password" placeholder="password" class="form-control">
                <span class="help-block"></span>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col-md-3">
            <p>O inicia sesión con:</p><br><br>
            <a href="{% url 'social:begin' "facebook" %}">
                <button class='zocial facebook'>Facebook Login</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p><br><br><a href="{% url 'password_reset_recover' %}">¿Olvidaste tu password?</a></p>
            <p><br>¿Aún no has creado una cuenta? <a href="{% url 'beta-register' %}">Regístrate aquí</a>.</p>
        </div>
    </div>
</div>
</div>

{% endblock %}
