{% extends "beta-base.html" %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
<style type="text/css">
    html, body { height: 100%; }
</style>
{% endblock %}
{% block content %}
{{ block.super }}
<div class="vertical-center text-center">
<div class="container">
    <div class="row fill">
        <div class="col-md-3 col-md-offset-3 right-divider">
            <p>Crear nueva cuenta:</p><br>
            {% for error in errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}

            <form method="post" role="form" name="LoginForm" action="{% url 'beta-register' %}">
            {% csrf_token %}
            <input type="text" id="email" name="email" class="form-control" placeholder="email">
            <span class="help-block"></span>

            <input type="password" id="password" name="password" placeholder="password" class="form-control">
            <span class="help-block"></span>

            <input type="password" id="password2" name="password2" placeholder="repite el password" class="form-control">
            <span class="help-block"></span>

            <input type="text" id="promo_code" name="promo_code" placeholder="Código de promoción (opcional)" class="form-control">
            <span class="help-block"></span>

            <button type="submit" class="btn btn-primary">Registrar</button>
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col-md-3">
            <p>O ahórrate un minuto y regístrate con:</p><br><br>
            <input type="text" id="promo_code_fb" name="promo_code_fb" placeholder="Código de promoción (opcional)" class="form-control" style="width:226px; margin:10px auto;">
            <a onclick="add_promo_code(this)" href="{% url 'social:begin' "facebook" %}">
                <button class='zocial facebook'>Registrar con Facebook</button>
            </a>
            <p><small>(nunca publicaremos nada en tu nombre)</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <p><br>Ya tienes una cuenta? <a href="{% url 'beta-login' %}">Inicia la sesión aquí</a>.</p>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
function add_promo_code(element)
{
    $(element).attr('href', function() {
        return this.href + '&promo_code=' + $('promo_code_fb').val();
    });
}
</script>
{% endblock %}