{% extends "beta-base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
{% endblock %}

{% block content %}
{{ block.super }}

<!-- <div id="design"></div> -->
<header id="intro">
    <div class="container text-center">
        <div class="social-btns">
            <a href=""><div class="fb"></div></a>
            <a href=""><div class="twitter"></div></a>
        </div>
        <div class="logo-claim">
            <img src="{{ STATIC_URL }}beta/build/img/landing/intro/dareyoo_logo_white.png">
            <h2>Demuestra que sabes apostar</h2>
        </div>
        <div class="features">
            <a href="#free" class="feature">
                <img src="{{ STATIC_URL }}beta/build/img/landing/intro/free_picto.png" alt="libre">
                <p>Libre</p>
            </a>
            <a href="#social_a" class="feature">
                <img src="{{ STATIC_URL }}beta/build/img/landing/intro/social_picto.png" alt="Social">
                <p>Social</p>
            </a>
            <a href="#democratic" class="feature">
                <img src="{{ STATIC_URL }}beta/build/img/landing/intro/democratic_picto.png" alt="Democrático">
                <p>Democrático</p>
            </a>
            <a href="#fun" class="feature" id="fun_feature">
                <img src="{{ STATIC_URL }}beta/build/img/landing/intro/fun_picto.png" alt="Divertido">
                <p>Divertido</p>
            </a>
        </div>
        <div class="video-btn">
            <a role="button" class="btn btn-video" href="https://www.youtube.com/watch?v=m7fujFOFaLU">Ver vídeo</a>
        </div>
        <div class="app-btns">
            <a href=""><img src="{{ STATIC_URL }}beta/build/img/landing/google_play.png"></a>
            <a href=""><img src="{{ STATIC_URL }}beta/build/img/landing/app_store.png"></a>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<a id="free"></a>
<section id="open">
    <div class="container">
        <h1 class="text-center">Crea libremente tus apuestas, <strong>juega a lo que tu quieras</strong></h1>
        <p class="text-center">Bienvenido a la primera red social de apuestas totalmente libre. Al contrario que en las casas de apuestas tradicionales, aquí sois los propios usuarios los que creáis las apuestas, sin límites ni restricciones.<br>Tienes tres modalidades de apuesta para elegir:</p>
        <div class="row text-center">
            <div class="col-sm-4">
                <img id="apuesta-basica-img" src="{{ STATIC_URL }}beta/build/img/landing/free/apuesta_basica.png" width="260">
                <h4>Apuesta básica</h4>
                <p>El primero en aceptar será tu rival</p>
            </div>
            <div class="col-sm-4">
                <img id="subasta-img" src="{{ STATIC_URL }}beta/build/img/landing/free/subasta.png" width="220">
                <h4>Subasta</h4>
                <p>Tú eliges la mejor oferta</p>
            </div>
            <div class="col-sm-4">
                <img id="porra-img" src="{{ STATIC_URL }}beta/build/img/landing/free/porra.png" width="180">
                <h4>Porra</h4>
                <p>La de toda la vida</p>
            </div>
        </div>
    </div>
</section>

<section id="parallax1"></section>

<a id="social_a"></a>
<section id="social">
    <div class="container">
        <div class="row">
            <div id="social-text" class="col-sm-6 col-sm-offset-1">
                <h1><strong>Reta a tus amigos,</strong><br>elige a tu rival</h1>
                <p>Sigue a tus amigos para enterarte de a qué estan jugando o envíales <a href="">apuestas privadas</a>. Busca los <a href="">eventos del momento</a> para encontrar apuestas más allá de tu círculo y juega contra usuarios de todo el mundo!</p> 
            </div>
            <div class="col-sm-4 text-right">
                <img src="{{ STATIC_URL }}beta/build/img/landing/social/social.png" height="380">
            </div>
        </div>
    </div>
</section>

<a id="democratic"></a>
<section id="democratic">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="{{ STATIC_URL }}beta/build/img/landing/democratic/juez.png" height="380">
            </div>
            <div id="democratic-text" class="col-sm-6">
                <h1>Toma el control del juego,<br><strong>tu eres el protagonista</strong></h1>
                <p>Como creador de una apuesta tendrás la responsabilidad de <a href="">resolverla</a> y como participante siempre tendrás derecho a <a href="">reclamar</a>.<br><br>En caso de conflicto, la apuesta será resuelta por otro usuario que actuará de <a href="">árbitro</a>, ¡cuida tu reputación para llegar a ser uno de ellos!</p> 
            </div>
        </div>
    </div>
</section>

<section id="parallax2"></section>

<a id="fun"></a>
<section id="fun">
    <div class="container">
        <div class="row">
            <div id="fun-text" class="col-sm-6">
                <h1><strong>¿Eres el mejor?</strong><br>¡Demuéstralo y consigue<br>fantásticos premios!</h1>
                <p>Juega gratis con nuestra moneda virtual, <a href="">el Yoo</a>. Consigue victorias, puntos y sé el primero en los ránkings. Participa en los torneos patrocinados y hazte con los <a href="">premios</a> más increíbles.</p>
                <p>¿Quieres <a href="">patrocinar un torneo</a>?</p> 
            </div>
        </div>
    </div>
</section>

<section id="closing" class="container-fluid">
    <div class="row">
        <div id="closing-left" class="col-sm-6">
        </div>
        <div id="closing-right" class="col-sm-6">
            <div class="closing-right-content">
                <img src="{{ STATIC_URL }}beta/build/img/landing/closing/dareyoo_imago_white.png" height="52">
                <h1>¿A qué estás esperando?</h1>
                <p>Ha nacido una nueva forma de apostar online.<br>Regístrate ahora y descúbrela.<br><br>Con nuestra aplicación móvil podrás apostar<br>donde y cuando quieras.</p>
                <a href=""><img src="{{ STATIC_URL }}beta/build/img/landing/google_play.png"></a>
                <a href=""><img src="{{ STATIC_URL }}beta/build/img/landing/app_store.png"></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <!-- <p>Dareyoo Gaming. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
</footer>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}beta/build/js/dareyoo_landing.all.min.js"></script>
{% endblock %}
