{% extends "beta-base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
{% endblock %}

{% block content %}
{{ block.super }}

<!-- Modal -->
<div class="modal fade" id="android-notification" tabindex="-1" role="dialog" aria-labelledby="AndroidNotification" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="AndroidNotification">Ten paciencia...</h4>
      </div>
      <div class="modal-body">
        <div id="android-notification-text-1">
            <p>Nuestra aplicación Android aún no está disponible, pero está en camino! Si quieres, puedes dejarnos tu email y te avisaremos cuando salga:</p>
            <form id="android-notification-form" role="form" class="center-text">
            {% csrf_token %}
              <div class="form-group">
                <label for="email-android-notification"></label>
                <input type="email" class="form-control" id="email-android-notification" placeholder="Tu email">
              </div>
              <button type="submit" class="btn btn-default center-block">Avísame!</button>
            </form>
        </div>
        <div id="android-notification-text-2">
            <p>¡Gracias por tu interés! Mientras tanto, puedes <a href="{% url 'beta-register' %}">empezar a crear tus apuestas</a> en nuestra web.</p>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ios-notification" tabindex="-1" role="dialog" aria-labelledby="iOSNotification" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="iOSNotification">Ten paciencia...</h4>
      </div>
      <div class="modal-body">
        <div id="ios-notification-text-1">
            <p>Nuestra aplicación para iOS aún no está disponible, pero está en camino! Si quieres, puedes dejarnos tu email y te avisaremos cuando salga:</p>
            <form id="ios-notification-form" role="form" class="center-text">
              <div class="form-group">
                <label for="email-ios-notification"></label>
                <input type="email" class="form-control" id="email-ios-notification" placeholder="Tu email">
              </div>
              <button type="submit" class="btn btn-default center-block">Avísame!</button>
            </form>
        </div>
        <div id="ios-notification-text-2">
            <p>¡Gracias por tu interés! Mientras tanto, puedes <a href="{% url 'beta-register' %}">empezar a crear tus apuestas</a> en nuestra web.</p>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="intro">
    <div class="container text-center">
        <div class="social-btns">
            <a href="http://www.facebook.com/DareyooApp"><div class="fb"></div></a>
            <a href="http://twitter.com/DareyooApp"><div class="twitter"></div></a>
        </div>
        <div class="logo-claim">
            <img src="{{ STATIC_URL }}beta/build/img/landing/intro/dareyoo_logo_white.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/intro/dareyoo_logo_white@2x.png">
            <h2>Apuesta por diversión</h2>
            <h3></h3>
        </div>
        <div class="bets-reel">
            <div id="bets-carousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    <h3>Una red social donde podrás apostar con tus amigos en total libertad.</h3>
                </div>
                {% for b in bets %}
                <div class="item">
                    <a href="/app/main/bet/{{ b.id }}"><h3>"{{ b.title }}"</h3></a>
                    <a href="/app/profile/{{ b.author.id }}/bets">
                    <div class="bet-signature">
                        <img src="{{ b.author.get_profile_pic_url }}" width="32" class="img-circle">
                        <p>{{ b.author.username }}</p>
                    </div>
                    </a>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
        <div id="ver-video" class="video-btn">
            <a role="button" class="btn btn-video" href="https://www.youtube.com/watch?v=m7fujFOFaLU">Ver vídeo</a>
        </div>
        <div class="video-btn">
            <a role="button" class="btn btn-video" href="{% url 'beta-register' %}">Empieza a jugar, ¡es gratis!</a>
        </div>
        <div class="app-btns">
            <a href="" data-toggle="modal" data-target="#android-notification"><img src="{{ STATIC_URL }}beta/build/img/landing/google_play.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/google_play@2x.png"></a>
            <a href="" data-toggle="modal" data-target="#ios-notification"><img src="{{ STATIC_URL }}beta/build/img/landing/app_store.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/app_store@2x.png"></a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<a id="free"></a>
<section id="open">
    <div class="container">
        <h1 class="text-center">Crea libremente tus apuestas, <strong>juega a lo que tu quieras</strong></h1>
        <p class="text-center">Bienvenido a la primera red social de apuestas totalmente libre. Al contrario que en las casas de apuestas tradicionales, aquí sois los propios usuarios los que creáis las apuestas, sin límites ni restricciones.<br>Tienes tres modalidades de apuesta para elegir:</p>
        <div class="row text-center">
            <a href="{% url 'beta-how-to' %}#basica">
            <div class="col-sm-4">
                <img id="apuesta-basica-img" src="{{ STATIC_URL }}beta/build/img/landing/free/apuesta_basica.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/free/apuesta_basica@2x.png" width="260">
                <h4>Apuesta básica</h4>
                <p class="nolink">El primero en aceptar será tu rival</p>
            </div>
            </a>
            <a href="{% url 'beta-how-to' %}#subhasta">
            <div class="col-sm-4">
                <img id="subasta-img" src="{{ STATIC_URL }}beta/build/img/landing/free/subasta.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/free/subasta@2x.png" width="220">
                <h4>Subasta</h4>
                <p class="nolink">Tú eliges la mejor oferta</p>
            </div>
            </a>
            <a href="{% url 'beta-how-to' %}#porra">
            <div class="col-sm-4">
                <img id="porra-img" src="{{ STATIC_URL }}beta/build/img/landing/free/porra.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/free/porra@2x.png" width="180">
                <h4>Porra</h4>
                <p class="nolink">La de toda la vida</p>
            </div>
            </a>
        </div>
    </div>
</section>

<section id="parallax1"></section>

<a id="social_a"></a>
<section id="social">
    <div class="container">
        <div class="row">
            <div id="social-text" class="col-sm-6 col-sm-offset-1">
                <h1><strong>Reta a tus amigos,</strong><br>elige a tu rival</h1>
                <p>Sigue a tus amigos para enterarte de a qué estan jugando o envíales <a href="{% url 'beta-how-to' %}#publicavsprivada">apuestas privadas</a>. Busca los eventos del momento para encontrar apuestas más allá de tu círculo y juega contra usuarios de todo el mundo!</p> 
            </div>
            <div class="col-sm-4 text-right">
                <img src="{{ STATIC_URL }}beta/build/img/landing/social/social.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/social/social@2x.png" height="380">
            </div>
        </div>
    </div>
</section>

<a id="democratic"></a>
<section id="democratic">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="{{ STATIC_URL }}beta/build/img/landing/democratic/juez.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/democratic/juez@2x.png" height="380">
            </div>
            <div id="democratic-text" class="col-sm-6">
                <h1>Toma el control del juego,<br><strong>tu eres el protagonista</strong></h1>
                <p>Como creador de una apuesta tendrás la responsabilidad de <a href="{% url 'beta-how-to' %}#reclamaciones">resolverla</a> y como participante siempre tendrás derecho a <a href="{% url 'beta-how-to' %}#reclamaciones">reclamar</a>.<br><br>En caso de conflicto, la apuesta será resuelta por otro usuario que actuará de <a href="{% url 'beta-how-to' %}#arbitraje">árbitro</a>, ¡cuida tu reputación para llegar a ser uno de ellos!</p> 
            </div>
        </div>
    </div>
</section>

<section id="parallax2"></section>

<a id="fun"></a>
<section id="fun">
    <div class="container">
        <div class="row">
            <div id="fun-text" class="col-sm-6">
                <h1><strong>¿Eres el mejor?</strong><br>¡Demuéstralo y consigue<br>fantásticos premios!</h1>
                <p>Juega gratis con nuestra moneda virtual, <a href="{% url 'beta-faq' %}#comofunciona">el Yoo</a>. Consigue victorias, puntos y sé el primero en los ránkings. Participa en los torneos patrocinados y hazte con los premios más increíbles.</p>
                <p>¿Quieres <a href="mailto:hi@dareyoo.com">patrocinar un torneo</a>?</p> 
            </div>
        </div>
    </div>
</section>

<section id="closing" class="container-fluid">
    <div class="row">
        <div id="closing-left" class="col-sm-6">
        </div>
        <div id="closing-right" class="col-sm-6">
            <div class="closing-right-content">
                <img src="{{ STATIC_URL }}beta/build/img/landing/closing/dareyoo_imago_white.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/closing/dareyoo_imago_white@2x.png" height="52">
                <h1>¿A qué estás esperando?</h1>
                <p>Ha nacido una nueva forma de apostar online.<br>Regístrate ahora y descúbrela.<br><br>Con nuestra aplicación móvil podrás apostar<br>donde y cuando quieras.</p>
                <a href=""><img src="{{ STATIC_URL }}beta/build/img/landing/google_play.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/google_play@2x.png"></a>
                <a href=""><img src="{{ STATIC_URL }}beta/build/img/landing/app_store.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/app_store@2x.png"></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <!-- <p>Dareyoo Gaming. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
</footer>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}beta/build/js/dareyoo_landing.all.min.js"></script>
{% endblock %}
