{% extends "beta-base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}beta/lib/bootstrap/dist/css/bootstrap.min.css"> -->
<style type="text/css">
    /*body, html { height: 100%; overflow: hidden; }*/
    body {
      position: relative;
      padding-bottom: 100px;
    }
    h4 {
        text-align: left;
    }
    .main-container {
        /*overflow: scroll;*/
        margin-top: 100px;
        /*height: calc(100%-100px);
        height: -moz-calc(100% - 100px);
        height: -webkit-calc(100% - 100px);
        height: -o-calc(100% - 100px);*/
        height: 100%;
        position: relative;
    }
    .dy-docs-sidebar>li>a { border-left: 5px transparent solid; font-size: 16px; font-weight: 300; }
    .dy-docs-sidebar>li.active>a, .dy-docs-sidebar>li:hover>a {
        border-left: 5px #fdd solid;
        background-color: transparent;
        font-weight: 400;
    }
    .dy-docs-sidebar>li>ul { display: none; font-size: 17px; font-weight: 300; }
    .dy-docs-sidebar>li.active>ul { display: inline; }
    .dy-docs-sidebar>li>ul>li>a { border-left: 5px transparent solid; padding: 4px 30px 0px; }
    .dy-docs-sidebar>li>ul>li.active>a, .dy-docs-sidebar>li>ul>li:hover>a {
        border-left: 5px #fdd solid;
        background-color: transparent;
        font-weight: 400;
    }

    .bs-callout {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
    }
    .bs-callout-info { border-left-color: #5bc0de; }
    .bs-callout h4 { margin-top: 0; margin-bottom: 5px; }
    .bs-callout-info h4 { color: #5bc0de; }

    h1 { margin-top: 0px; }
    p { margin: 10px 0px; }
    ul.big-list { font-size: 19px; font-weight: 300; }
    dl:last-child { margin-bottom: 0px; }
    dt, dd { font-size: 16px; }
    .dy-docs-sidebar { max-width: 280px; }

</style>
{% endblock %}

{% block content %}
{{ block.super }}

<div class="container main-container">
    <div class="row">
        <div id="main-content" class="col-md-8 col-md-offset-2" role="main">
            <h1>ARCHIVO DE APUESTAS ({{ date }})</h1>
            <ul>
            {% for b in bets %}
            <li><a href="{% url 'beta-app-bet-detail' b.slug %}">{{ b.title }}</a></li>
           {% endfor %}
           </ul>
        </div>
    </div>
</div>

<footer>
    <!-- <p>Dareyoo Gaming. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
</footer>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}beta/build/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}beta/build/js/bootstrap.min.js"></script>
{% endblock %}
