{% extends "beta-base.html" %}
{% load i18n %}
{% block title %}Dareyoo (beta){% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/dareyoo_app.all.min.css">

    <style type="text/css">
    body { margin-top: 0px; }

    
    </style>
{% endblock %}

{% block body %}<body ng-app="dareyoo">{% endblock %}

{% block navbar %}
<base href="/app/"></base>
<nav class="navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-app-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}beta/build/img/landing/logo_beta.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-app-navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li ng-class="{ active: $state.includes('main') }"><a href="#" ui-sref="main.timeline">INICIO</a></li>
          <li ng-class="{ active: $state.includes('profile') }" ng-if="user"><a href="#" ui-sref="profile.bets({userId:user.id})">PERFIL</a></li>
          <li ng-class="{ active: $state.includes('rankings') }"><a href="#" ui-sref="tournaments">TORNEOS Y PREMIOS</a></li>
        </ul>
        <div class="navbar-form navbar-left" role="search" ng-controller="SearchCtrl">
          <div class="form-group">
            <input id="search" type="text" class="form-control" placeholder="Buscar..." ng-model="q.query" ng-click="onSearchEnter()">
          </div>
          <button type="button" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-if="user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="notificationsClick()">
              <span class="badge alert-danger">[[new_notifications || ""]]</span>
              <span> Mensajes</span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="note in notifications" ng-class="{'unread': !note.readed}">
                <a ng-if="note.bet" href="#" ui-sref="main.bet({betId:note.bet})" ng-click="notificationClick(note)"><span ng-if="!note.readed" class="glyphicon glyphicon-envelope"></span> [[note.subject]]</a>
                <a ng-if="!note.bet" href="#" ui-sref="profile.bets({userId:note.user})" ng-click="notificationClick(note)"><span ng-if="!note.readed" class="glyphicon glyphicon-envelope"></span> [[note.subject]]</a>
              </li>
            </ul>
          </li>
          <li ng-if="user"><a href="{% url "beta-logout" %}">Logout</a></li>
          <li ng-if="!user"><a href="{% url "beta-login" %}">Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
      <div ui-view></div>
    </div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}beta/build/js/dareyoo_app.all.min.js"></script>
<script type="text/javascript">
  angular.module('dareyoo').
  constant('config', {static_url: "{{ STATIC_URL }}", fb_key: "{{ fb_key }}" });
</script>
{% endblock %}