{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">
  {% endblock %}
  <title>{% block title %}Dareyoo (beta){% endblock %}</title>
  {% block css %}
  {% endblock %}
{% endblock %}
</head>
{% block body %}<body>{% endblock %}
{% block top_body %}
{% endblock %}
  {% block navbar %}
  {% endblock %}
  {% block content %}

<nav class="navbar-default navbar-fixed-top" id="nav-top" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landing-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}beta/build/img/logo_small.png"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="landing-navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li {% if request.resolver_match.url_name == "beta-como" %}class="active"{% endif %}><a href="#">CÓMO FUNCIONA</a></li>
      <li {% if request.resolver_match.url_name == "beta-quienes" %}class="active"{% endif %}><a href="#">QUIÉNES SOMOS</a></li>
      <li {% if request.resolver_match.url_name == "beta-faq" %}class="active"{% endif %}><a href="#">FAQ</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li {% if request.resolver_match.url_name == "beta-register" %}class="active"{% endif %}><a href="{% url "beta-login" %}">Registrar</a></li>
      <li {% if request.resolver_match.url_name == "beta-login" %}class="active"{% endif %}><a href="{% url "beta-login" %}">Login</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>

  {% endblock %}
  {% block footer %}{% endblock %}
  {% block analytics %}
  <script type="text/javascript">
  /*
    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-00000000-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  */
  </script>
  {% endblock %}
  {% block js %}
  {% endblock %}
</body>
</html>