{% extends "beta-base.html" %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css">
<style type="text/css">
    html, body { height: 100%; }
</style>
{% endblock %}
{% block content %}
{{ block.super }}
<div class="vertical-center text-center">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>Error de login: {{request}}</p>
        </div>
    </div>
</div>
</div>

{% endblock %}
