{% extends "beta-base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/landing.all.min.css?new">
<!--<link rel="stylesheet" href="{{ STATIC_URL }}beta/build/css/dareyoo_app.all.min.css">-->
<style type="text/css">
    html, body {
        height: 100%;
    }
    #intro {
        height: 100%;
    }
    .logo-claim h2 {
        max-width: 800px;
        padding-right: 25px;
    }
    .widget {
        max-width: 600px;
        text-align: center;
        margin: 20px auto;
    }
    .widget>h5 {
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
</style>
{% endblock %}

{% block content %}
{{ block.super }}


<div id="intro">
    <!-- carousel -->
    <div id="carousel-intro" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000" data-pause="none">
      <div class="carousel-inner" role="listbox">
        <div class="item item1 active">
        </div>
        <div class="item item2">
        </div>
        <div class="item item3">
        </div>
        <div class="item item4">
        </div>
        <div class="item item5">
        </div>
      </div>
    </div>
    <div class="container text-center">
        <div class="social-btns">
            <a href="http://www.facebook.com/DareyooApp"><div class="fb"></div></a>
            <a href="http://twitter.com/DareyooApp"><div class="twitter"></div></a>
        </div>
        <div class="logo-claim">
            <img src="{{ STATIC_URL }}beta/build/img/landing/intro/dareyoo_logo_white.png" data-at2x="{{ STATIC_URL }}beta/build/img/landing/intro/dareyoo_logo_white@2x.png">
            <h2>Crea la porra de tu promesa de año nuevo</h2>
            <h3>Y gana descuentos en gimnasios...</h3>
        </div>
        <div class="widget">
            <h5>Seguro que cada año te has hecho promesas que luego no has cumplido. Con la porra de dareyoo, tendrás la presión añadida de demostrar a tus amigos y família que en 2015 vas en serio.<br>¿Cuál es tu promesa?</h5>
              <div class="form-group">
                <label for="title"></label>
                <input type="text" class="form-control" id="title" placeholder="Este año iré a correr 3 días por semana">
              </div>
              <button type="submit" class="btn btn-primary center-block">Siguiente</button>
        </div>
        <div class="bets-reel">
            <div id="bets-carousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    
                </div>
                {% for b in bets %}
                <div class="item">
                    <a href="/app/main/bet/{{ b.id }}"><h3>"{{ b.title }}"</h3></a>
                    <a href="/app/profile/{{ b.author.id }}/bets">
                    <div class="bet-signature">
                        <img src="{{ b.author.get_profile_pic_url }}" width="32" class="img-circle">
                        <p>{{ b.author.username }}</p>
                    </div>
                    </a>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}beta/build/js/dareyoo_landing.all.min.js?new"></script>
<script src="http://platform.twitter.com/widgets.js"></script>
{% endblock %}
