 <div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div>
            <img src="/static/alpha/img/[[profile_user.id]].jpg" alt="[[profile_user.username]]" width="50" class="img-circle center-block">
        </div>
        <div class="text-center"><a ui-sref="profile({userId:profile_user.id})">[[profile_user.username]]</a></div>
        
        <div class="text-center">
        <div><button ng-show="profile_user.id==user.id" type="button" class="btn btn-primary" ng-click="">Edit Profile</button></div>
        <p ng-show="profile_user_follows_me">[[profile_user.username]] is following you</p>
        <p ng-show="i_follow_profile_user">You're following [[profile_user.username]]</p>
        <div><button ng-show="user && profile_user.id!=user.id && i_follow_profile_user" type="button" class="btn btn-primary" ng-click="unfollowUser(profile_user.id)">Unfollow</button></div>
        <div><button ng-show="user && profile_user.id!=user.id && !i_follow_profile_user" type="button" class="btn btn-primary" ng-click="followUser(profile_user.id)">Follow</button></div>
            <a href="#" ui-sref="profile.followers({userId:profile_user.id})">[[profile_user.n_followers]] followers</a> | 
            <a href="#" ui-sref="profile.following({userId:profile_user.id})">[[profile_user.n_following]] following</a> | 
            <a href="#" ui-sref="profile.bets({userId:profile_user.id})">[[n_bets]] bets</a>
        </div>
    </div>
    <div class="col-md-4">
        <img width="30" src="http://mattersofgrey.com/forum/uploads/userpics/842/n2S7WEALLV3J8.png" alt="VIP">
        <img width="30" src="http://slackblog.files.wordpress.com/2010/04/adventurer.png%3Fw%3D64%26h%3D64" alt="TOP10">
        <img width="30" src="http://qph.is.quoracdn.net/main-thumb-t-9970-50-YpqlEa4uAhTwe63T3VriOBo2nPOEgONC.jpeg" alt="TOP10">
        <img width="30" src="http://www.nrlc-group.net/images/localbadge40.jpg" alt="TOP10">
        <img width="30" src="https://www.uwosh.edu/stay_connected/images/collegeschoolspirit_big150x150.jpg/image_tile" alt="TOP10">
        <div class="points">
            <span class="num-points">[[user.points + 1200]]</span><br><span class="text-points">POINTS THIS WEEK</span>
        </div>
    </div>
</div>
<div ui-view></div>