<p class="text-right">Order by 
<button type="button" ng-class="{'btn': true, 'btn-xs': true, 'btn-primary': order_by=='-created_at', 'btn-default': order_by!='-created_at'}" ng-click="getTimeline('-created_at')">Recently created</button> 
<button type="button" ng-class="{'btn': true, 'btn-xs': true, 'btn-primary': order_by=='bidding_deadline', 'btn-default': order_by!='bidding_deadline'}" ng-click="getTimeline('bidding_deadline')">Bidding deadline</button></p>
<div ng-show="loaded" class="bets-list">
  <div><span class="label label-primary">Bidding</span></div>
  <div ng-repeat="bet in bets | filter:{'bet_state':'bidding'}" class="row bet-row">
    <div class="col-md-12 bet-type-[[bet.bet_type]]">
      <div class="bet-image pull-left">
        <img src="/static/alpha/img/[[bet.author.id]].jpg" alt="[[bet.author.username]]" width="50" alt="[[bet.author.username]]" class="img-circle">
      </div>
      <div class="bet-text pull-left">
        <p><span class="bet-username"><a ui-sref="profile({userId:bet.author.id})">[[bet.author.username]]</a></span><time relative datetime="[[bet.created_at]]"></time></p>
        <p><span class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></span></p>
        <span class="bet-closing">Closing <time relative datetime="[[bet.bidding_deadline]]"></time></span>
      </div>
      <div class="bet-actions pull-right">
        <p><span class="bet-amount">For [[bet.amount]] coins</span></p>
        <p ng-show="[[bet.bet_type==1]]"><span class="bet-amount-against">against [[bet.amount*bet.odds - bet.amount]] coins</span></p>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==1">Accept</button>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==2">Post Bid</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div><span class="label label-primary">Event</span></div>
  <div ng-repeat="bet in bets | filter:{'bet_state':'event'}" class="row bet-row">
    <div class="col-md-12 bet-type-[[bet.bet_type]]">
      <div class="bet-image pull-left">
        <img src="/static/alpha/img/[[bet.author.id]].jpg" alt="[[bet.author.username]]" width="50" alt="[[bet.author.username]]" class="img-circle">
      </div>
      <div class="bet-text pull-left">
        <p><span class="bet-username"><a ui-sref="profile({userId:bet.author.id})">[[bet.author.username]]</a></span><time relative datetime="[[bet.created_at]]"></time></p>
        <p><span class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></span></p>
        <span class="bet-closing">Closing <time relative datetime="[[bet.bidding_deadline]]"></time></span>
      </div>
      <div class="bet-actions pull-right">
        <p><span class="bet-amount">For [[bet.amount]] coins</span></p>
        <p ng-show="[[bet.bet_type==1]]"><span class="bet-amount-against">against [[bet.amount*bet.odds - bet.amount]] coins</span></p>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==1">Accept</button>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==2">Post Bid</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div><span class="label label-primary">Awaiting resolution</span></div>
  <div ng-repeat="bet in bets | filter:{'bet_state':'resolving'}" class="row bet-row">
    <div class="col-md-12 bet-type-[[bet.bet_type]]">
      <div class="bet-image pull-left">
        <img src="/static/alpha/img/[[bet.author.id]].jpg" alt="[[bet.author.username]]" width="50" alt="[[bet.author.username]]" class="img-circle">
      </div>
      <div class="bet-text pull-left">
        <p><span class="bet-username"><a ui-sref="profile({userId:bet.author.id})">[[bet.author.username]]</a></span><time relative datetime="[[bet.created_at]]"></time></p>
        <p><span class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></span></p>
        <span class="bet-closing">Closing <time relative datetime="[[bet.bidding_deadline]]"></time></span>
      </div>
      <div class="bet-actions pull-right">
        <p><span class="bet-amount">For [[bet.amount]] coins</span></p>
        <p ng-show="[[bet.bet_type==1]]"><span class="bet-amount-against">against [[bet.amount*bet.odds - bet.amount]] coins</span></p>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==1">Accept</button>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==2">Post Bid</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div><span class="label label-primary">Complaining period</span></div>
  <div ng-repeat="bet in bets | filter:{'bet_state':'complaining'}" class="row bet-row">
    <div class="col-md-12 bet-type-[[bet.bet_type]]">
      <div class="bet-image pull-left">
        <img src="/static/alpha/img/[[bet.author.id]].jpg" alt="[[bet.author.username]]" width="50" alt="[[bet.author.username]]" class="img-circle">
      </div>
      <div class="bet-text pull-left">
        <p><span class="bet-username"><a ui-sref="profile({userId:bet.author.id})">[[bet.author.username]]</a></span><time relative datetime="[[bet.created_at]]"></time></p>
        <p><span class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></span></p>
        <span class="bet-closing">Closing <time relative datetime="[[bet.bidding_deadline]]"></time></span>
      </div>
      <div class="bet-actions pull-right">
        <p><span class="bet-amount">For [[bet.amount]] coins</span></p>
        <p ng-show="[[bet.bet_type==1]]"><span class="bet-amount-against">against [[bet.amount*bet.odds - bet.amount]] coins</span></p>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==1">Accept</button>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==2">Post Bid</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div><span class="label label-primary">Conflict. Awaiting arbitration</span></div>
  <div ng-repeat="bet in bets | filter:{'bet_state':'complaining'}" class="row bet-row">
    <div class="col-md-12 bet-type-[[bet.bet_type]]">
      <div class="bet-image pull-left">
        <img src="/static/alpha/img/[[bet.author.id]].jpg" alt="[[bet.author.username]]" width="50" alt="[[bet.author.username]]" class="img-circle">
      </div>
      <div class="bet-text pull-left">
        <p><span class="bet-username"><a ui-sref="profile({userId:bet.author.id})">[[bet.author.username]]</a></span><time relative datetime="[[bet.created_at]]"></time></p>
        <p><span class="bet-title"><a ui-sref="main.bet({betId:bet.id})">[[bet.title]]</a></span></p>
        <span class="bet-closing">Closing <time relative datetime="[[bet.bidding_deadline]]"></time></span>
      </div>
      <div class="bet-actions pull-right">
        <p><span class="bet-amount">For [[bet.amount]] coins</span></p>
        <p ng-show="[[bet.bet_type==1]]"><span class="bet-amount-against">against [[bet.amount*bet.odds - bet.amount]] coins</span></p>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==1">Accept</button>
        <button type="button" class="btn btn-primary" ng-show="bet.bet_type==2">Post Bid</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>