<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Friends</a></li>
    <li><a href="#">Global</a></li>
    <li><a href="#">Arbitrate Conflicts</a></li>
  </ul>
</div>
<div ng-show="loaded" class="bets-list">
  <div ng-repeat="bet in bets" class="row bet-row">
    <div class="col-md-12 bet-type-[[bet.bet_type]]">
      <div class="bet-image pull-left">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1117460_669867209_631967961_q.jpg" alt="[[bet.author.username]]" class="img-circle">
      </div>
      <div class="bet-text pull-left">
        <p><span class="bet-username">[[bet.author.username]]</span><time relative datetime="[[bet.created_at]]"></time></p>
        <p><span class="bet-title">[[bet.title]]</span></p>
        <span class="bet-closing">Closing <time relative datetime="[[bet.bidding_deadline]]"></time></span>
      </div>
      <div class="bet-actions pull-right">
        <p><span class="bet-amount">For [[bet.amount]] coins</span></p>
        <p ng-show="[[bet.bet_type==1]]"><span class="bet-amount-against">against [[bet.amount*bet.odds - bet.amount]] coins</span></p>
        <button type="button" class="btn btn-primary" ng-show="[[bet.bet_type==1]]">Accept</button>
        <button type="button" class="btn btn-primary" ng-show="[[bet.bet_type==2]]">Post Bid</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>