{% extends "alpha-base.html" %}
{% load i18n %}
{% block title %}Dareyoo (alpha){% endblock %}
{% block css %}
{{ block.super }}
    <style type="text/css">
    body { margin-top: 0px; }

    /* Explanation of the following line: http://angular-ui.github.io/bootstrap/ */
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

    .container {
      max-width: 1000px;
    }
    .bet-list { border: 1px solid black; }
    .bet-row { border-bottom: 1px solid #CCC; margin: 2px; padding:5px; }
    .bet-image { padding: 10px; }
    .bet-text { padding: 10px; max-width: 65%; }
    .bet-username { font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 1em; padding-right: 10px; }
    .bet-title { font-family: Tahoma, Geneva, sans-serif; font-size: 1.3em; }
    .bet-closing { color:red; font-family: Tahoma, Geneva, sans-serif; font-size: 0.8em; margin-bottom: 0px; }
    .user-profile-link { color: black; text-align: center; }
    .profile-image { display:block; margin: auto; }
    .view-profile { color: gray; font-size: 0.8em; }
    .coins-available { color: green; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 1.2em; }
    .coins-locked { color: orange; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 1em; }
    .points { color: black; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 0.9em; margin-top: 20px; }
    .num-points { font-size: 4em; }
    .text-points { color: #999; padding-top: 10px; }
    .sidebar-nav { margin-top: 20px; }
    </style>
{% endblock %}

{% block body %}<body ng-app="dareyoo">{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-app-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dareyoo (alpha)</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-app-navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li ng-class="{ active: $state.includes('main') }"><a href="#" ui-sref="main.timeline"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li ng-class="{ active: $state.includes('profile') }" ng-if="user"><a href="#" ui-sref="profile.bets({userId:user.id})"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
          <li ng-class="{ active: $state.includes('rankings') }"><a href="#" ui-sref="rankings"><span class="glyphicon glyphicon-list"></span> Rankings</a></li>
        </ul>
        <div class="navbar-form navbar-left" role="search" ng-controller="SearchCtrl">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="q.query">
          </div>
          <button type="button" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-if="user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;&nbsp;[[new_notifications]]&nbsp;&nbsp;&nbsp;<b class="caret"></b></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Franzi accepted your bet "I will win the chess tournament!"</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Your bet "Blah blah blah" is available for resolving</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Congratulations! You won danichicano's bet "Porra Barça - Madrid"</a></li>
              <li class="divider"></li>
              <li><a href="#">danichicano started following you</a></li>
            </ul>
          </li>
          <li ng-if="user"><a href="{% url "alpha-logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></a></li>
          <li ng-if="!user"><a href="{% url "alpha-login" %}">Login <span class="glyphicon glyphicon-log-in"></span></a></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
      <div ui-view></div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script> -->
<script src="{{ STATIC_URL }}alpha/js/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL }}alpha/js/ui-bootstrap-tpls-0.9.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
<script src="{{ STATIC_URL }}alpha/js/ng-time-relative.min.js"></script>
<script src="{{ STATIC_URL }}alpha/js/app.js"></script>
<script src="{{ STATIC_URL }}alpha/js/services.js"></script>
<script src="{{ STATIC_URL }}alpha/js/controllers.js"></script>
<script src="{{ STATIC_URL }}alpha/js/directives.js"></script>
{% endblock %}