{% extends "alpha-base.html" %}
{% load i18n %}
{% block title %}Welcome to _templateapp{% endblock %}
{% block css %}
{{ block.super }}
    <style type="text/css">
    body { margin-top: 80px; }
    .container {
      max-width: 1000px;
    }
    .bet-list { border: 1px solid black; }
    .bet-row { border-bottom: 1px solid #CCC; margin: 2px; padding:5px; }
    .bet-image { padding: 10px; }
    .bet-text { padding: 10px; max-width: 65%; }
    .bet-username { font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 1em; padding-right: 10px; }
    .bet-title { font-family: Tahoma, Geneva, sans-serif; font-size: 1.3em; }
    .bet-closing { color:red; font-family: Tahoma, Geneva, sans-serif; font-size: 1em; margin-bottom: 0px; }
    .bet-type-1 { border-left: 5px solid green; }
    .bet-type-2 { border-left: 5px solid orange; }
    .bet-type-3 { border-left: 5px solid blue; }
    .user-profile-link { color: black; text-align: center; }
    .profile-image { display:block; margin: auto; }
    .view-profile { color: gray; font-size: 0.8em; }
    .coins-available { color: green; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 1.2em; }
    .coins-locked { color: orange; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 1em; }
    .points { color: black; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; font-size: 0.9em; margin-top: 20px; }
    .num-points { font-size: 4em; }
    .text-points { color: #999; padding-top: 10px; }
    .sidebar-nav { margin-top: 20px; }
    </style>
{% endblock %}
{% block content %}
    <div ng-app="dareyoo" class="container">
      <div ui-view></div>

      <!-- <div ng-app="dareyoo" ng-controller="TimelineCtrl">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4">
                <a href="#" class="user-profile-link">
                <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/1117460_669867209_631967961_q.jpg" alt="{{request.user.username}}" class="img-circle profile-image">
                <p>{{user.username}}<br><span class="view-profile">view my profile</span></p>
                </a>
                <img width="30" src="http://mattersofgrey.com/forum/uploads/userpics/842/n2S7WEALLV3J8.png" alt="VIP">
                <img width="30" src="http://slackblog.files.wordpress.com/2010/04/adventurer.png%3Fw%3D64%26h%3D64" alt="TOP10">
                <img width="30" src="http://qph.is.quoracdn.net/main-thumb-t-9970-50-YpqlEa4uAhTwe63T3VriOBo2nPOEgONC.jpeg" alt="TOP10">
                <img width="30" src="http://www.nrlc-group.net/images/localbadge40.jpg" alt="TOP10">
                <img width="30" src="https://www.uwosh.edu/stay_connected/images/collegeschoolspirit_big150x150.jpg/image_tile" alt="TOP10">
              </div>
              <div class="col-md-8">
                <div class="coins-available">{{user.coins_available|floatformat}} COINS AVAILABLE</div>
                <div class="coins-locked">({{user.coins_locked|floatformat}} COINS LOCKED)</div>
                <div class="points">
                  <span class="num-points">1.542</span><br><span class="text-points">POINTS THIS WEEK</span>
                </div>
              </div>
            </div>
            <div class="row sidebar-nav">
              <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="#">Create new bet</a></li>
                  <li class="active"><a href="#/timeline">My timeline</a></li>
                  <li><a href="#">My open bets (4)</a></li>
                  <li><a href="#">Leaderboards</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div ng-view></div>
          </div>
        </div>
      </div> -->

    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script> -->
<script src="{{ STATIC_URL }}alpha/js/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
<script src="{{ STATIC_URL }}alpha/js/ng-time-relative.min.js"></script>
<script src="{{ STATIC_URL }}alpha/js/app.js"></script>
<script src="{{ STATIC_URL }}alpha/js/services.js"></script>
<script src="{{ STATIC_URL }}alpha/js/controllers.js"></script>
{% endblock %}